html {
    display: block;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 140, 0, 0.4) 100%);
    font-size: 1.2em;
}

.header{
    text-align: end;
}

.navBar{
    display: inline-flex;
    border: 2px solid;
    background-color: #ff4000;
    padding: 0;
}

.navBar li{
    list-style-type: none;
}

.navBar a{
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-right: 2px solid;
    text-decoration: none;
    color: #000000
}


.navBar li:last-of-type a{
    border: 0;
    color: #ffffff
}






