html {
    display: block;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 140, 0, 0.4) 100%);
    font-size: 1.3em;
}

body{
    text-align: center;
}

h1{
    display: inline-block;
    border: 2px solid;
    background-color: #ff4000;
    padding: 0;
}

.header{
    text-align: end;
}

.allTeams{
    display: flex;
    justify-content: center;
    align-items: center;
}